{% extends 'admin/base_site.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/admin.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'shop/admin-django.css' %}">
{{ block.super }}
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <span style="background: #c8ff3d; color: #12170a; padding: 5px 12px; border-radius: 8px; margin-right: 10px;">🎧</span>
        Audio Lux Admin
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}