{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | AudioLux Administration{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'shop/admin-django.css' %}">
{% endblock %}

{% block branding %}
<div id="site-name">
  <a class="audiolux-brand" href="{% url 'admin:index' %}" aria-label="AudioLux Administration home">
    <svg class="audiolux-logo" viewBox="0 0 32 32" aria-hidden="true" focusable="false">
      <path d="M16 3a13 13 0 0 0-13 13v5a5 5 0 0 0 5 5h3v-9H8v-1a8 8 0 1 1 16 0v1h-3v9h3a5 5 0 0 0 5-5v-5A13 13 0 0 0 16 3Zm-7 17H8a1 1 0 1 1 1-1v1Zm15 0v-1a1 1 0 1 1 1 1h-1Z" />
    </svg>
    <span>AudioLux <strong>Administration</strong></span>
  </a>
</div>
{% endblock %}
